.App {
  text-align: center;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form {
  margin: 0 auto;
}

button {
  border: 1px solid red;
  border-radius: 5%;
  width: 120px;
  height: 25px;
}



input {
  width: 400px;
  background: rgb(72,180,119);
  background: linear-gradient(90deg, rgba(72,180,119,1) 0%, rgba(38,215,65,1) 34%, rgba(182,7,161,1) 85%);
}