main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 40px;
  font-family:Impact;
	font-style:italic;
}

@import './components/Button/Button.scss';
@import './components/Chatlist/ChatList.scss';
@import './components/Header/Header.scss';
@import './components/InputMessage/Input.scss';
@import './components/MessageList/MessageList.scss';
@import './components/MessageList/Message/Message.scss';
